<h3>Hastalar</h3>
	<% @patients.each do |patient|  %>
	<ol>
		<li>
			<%= patient.full_name %>
			<%= link_to 'Hasta Bilgileri', patient %>
			<%= link_to 'Düzenle', edit_patient_path(patient) %>
		</li>
	</ol>
	<% end -%>