<h2>Doktorlar</h2>

	<% @doctors.each do |doctor|  %>
	<ol>
		<li>
			<%= doctor.full_name %>
			<%= link_to 'Doctor Bilgileri', doctor %>
			<%= link_to 'Düzenle', edit_doctor_path(doctor) %>
			<%= link_to 'Sil', doctor_path(doctor),method: :delete, data: { confirm:'Emin misiniz?'} %>
		</li>

	</ol>
	<% end -%>
