<h1><%=  params[:id] %> id'li doktor</h1>

Doktorun hastalari

<% @doctor.patients.each do |p| %>
<%= p.name %> -  <%= p.surname %>
<% end %>

<p>

<%= link_to "Duzenle" , edit_doctor_path(params[:id])  %></p>